#title {
    background: linear-gradient(300deg, #04364A, #176B87, #64CCC5);
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .name {
    color: white;
    font-family: sans-serif;
    font-size: 50px;
  }

  #programmer {
    color: white;
    font-family: sans-serif;
    font-size: 30px;

  }

  img {
    border-radius: 50%;
    height: 150px;
  }

  p {
    color: #000;
    font-family: sans-serif;
    font-size: 30px;
  }

  #skills {
    color: #04364A;
    font-size: 30px;
  }

  svg {
    background-color: #04364a;
  }

  h3 {
    font-size: 30px;
  }

  footer {
    color: #eaf6f6;
    font-size: 1rem;
    padding: 20px 0;
  }

  #copy {
    color: #eaf6f6;
    font-size: 1rem;
    padding: 20px 0;

  }

  .jumbotron {
    font-size: 20px;
  }

  .btn {
    background: #176B87;
    background-image:linear-gradient(to bottom, #176B87, #64CCC5);
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    color: white;
  }